---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infra

resources:
  - issuers
  - certificates
  - role.yaml
  - rolebinding.yaml

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.19.2 # helm search repo --regexp 'jetstack/cert-manager[[:space:]]' -o json | jq -r '.[].version'
    releaseName: cert-manager
    includeCRDs: false
    valuesFile: values.yaml
  - name: reflector
    repo: https://emberstack.github.io/helm-charts
    version: 10.0.2
    releaseName: reflector
