---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Argo CD CRDs
  - https://raw.githubusercontent.com/argoproj/argo-cd/refs/tags/v3.2.1/manifests/crds/application-crd.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/refs/tags/v3.2.1/manifests/crds/applicationset-crd.yaml
  - https://raw.githubusercontent.com/argoproj/argo-cd/refs/tags/v3.2.1/manifests/crds/appproject-crd.yaml
  # cert-manager CRDs
  - https://github.com/jetstack/cert-manager/releases/download/v1.19.1/cert-manager.crds.yaml
  # Traefik CRDs
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_ingressroutes.yaml
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_ingressroutetcps.yaml
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_ingressrouteudps.yaml
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_middlewares.yaml
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_middlewaretcps.yaml
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_serverstransports.yaml
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_serverstransporttcps.yaml
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_tlsoptions.yaml
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_tlsstores.yaml
  - https://raw.githubusercontent.com/traefik/traefik-helm-chart/refs/tags/v37.4.0/traefik-crds/crds-files/traefik/traefik.io_traefikservices.yaml

# Add labels to all resources
commonLabels:
  app.kubernetes.io/part-of: infrastructure-crds
  app.kubernetes.io/managed-by: kustomize
