---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: sonarr
  name: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      run: sonarr
  template:
    metadata:
      labels:
        run: sonarr
    spec:
      securityContext:
        fsGroup: 1000
      initContainers:
        - name: fix-permissions
          image: busybox:1.37.0
          command:
            [
              "sh",
              "-c",
              "mkdir -p /data/media/tv /data/torrents/tv-sonarr && chown -R 1000:1000 /data",
            ]
          volumeMounts:
            - name: arr-stack-storage
              mountPath: /data
              subPath: data
      containers:
        - name: sonarr
          image: 11notes/sonarr:4.0.16
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: "CET"
          resources:
            requests:
              memory: "200Mi"
              cpu: "75m"
            limits:
              memory: "600Mi"
              cpu: "300m"
          ports:
            - containerPort: 8989
              name: webui
          # NOTE: Probes are kept but you may need to adjust the path if you remove the URL base in the app's config.
          # The default for 11notes is '/', not '/sonarr/'. This will work after you set the URL base in the new UI.
          startupProbe:
            httpGet:
              path: /sonarr/
              port: 8989
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 30
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /sonarr/
              port: 8989
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /sonarr/
              port: 8989
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 3
            timeoutSeconds: 5
          volumeMounts:
            - name: arr-stack-storage
              mountPath: /sonarr/etc
              subPath: sonarr
            - name: arr-stack-storage
              mountPath: /data
              subPath: data
            - name: tmpfs
              mountPath: /tmp
      volumes:
        - name: arr-stack-storage
          persistentVolumeClaim:
            claimName: htpc-pvc
        - name: tmpfs
          emptyDir: {}
