---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: default-headers
spec:
  headers:
    browserXssFilter: true
    contentTypeNosniff: true
    forceSTSHeader: true
    stsIncludeSubdomains: true
    stsSeconds: 31536000
    customFrameOptionsValue: DENY
    referrerPolicy: strict-origin-when-cross-origin
    customRequestHeaders:
      X-Forwarded-Proto: https
    customResponseHeaders:
      X-Content-Type-Options: nosniff
      X-Frame-Options: DENY
      X-XSS-Protection: 1; mode=block
    sslRedirect: true
    sslForceHost: true
    sslProxyHeaders:
      X-Forwarded-Proto: https
    accessControlAllowMethods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS
    accessControlAllowHeaders:
      - Content-Type
      - Authorization
    accessControlMaxAge: 3600
    addVaryHeader: true
