---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infra

resources:
  - secret
  - default-headers.yaml

helmCharts:
  - name: traefik
    repo: https://traefik.github.io/charts
    version: 37.3.0
    releaseName: traefik
    includeCRDs: false
    valuesFile: values.yaml
