---
namespaceOverride: infra

globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"

logs:
  general:
    level: "INFO"

metrics:
  addInternals: true
  prometheus:
    entryPoint: metrics
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    service:
      enabled: true
    disableAPICheck: true
    serviceMonitor:
      enabled: true
      namespace: infra
      additionalLabels:
        release: kube-prometheus-stack

tracing:
  serviceName: "traefik"
  addInternals: true
  sampleRate: 1.0
  otlp:
    enabled: true
    grpc:
      enabled: true
      endpoint: "jaeger-collector.infra.svc.cluster.local:4317"
      insecure: true

ingressClass:
  enabled: true
  isDefaultClass: true

deployment:
  enabled: true
  kind: Deployment
  replicas: 1

ports:
  web:
    redirections:
      entrypoint:
        to: websecure
        scheme: https
        priority: 10
  websecure:
    http3:
      enabled: true
      advertisedPort: 443
    tls:
      enabled: true
  metrics:
    port: 8082
    expose:
      default: true
    protocol: TCP

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowExternalNameServices: true
    allowCrossNamespace: true
  kubernetesIngress:
    enabled: false

rbac:
  enabled: true

service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: 192.168.1.245
    externalTrafficPolicy: Local

persistence:
  enabled: true
  existingClaim: traefik-data-pvc

env:
  - name: TZ
    value: "CET"
