---
namespaceOverride: infra

global:
  checkNewVersion: false

logs:
  access:
    timezone: "CET"

metrics:
  addInternals: true
  prometheus:
    service:
      enabled: true
    disableAPICheck: true
    serviceMonitor:
      enabled: true
      namespace: infra
      additionalLabels:
        release: kube-prometheus-stack

tracing:
  addInternals: true
  otlp:
    enabled: true
    endpoint: "jaeger:4318"
    grpc:
      enabled: true
      endpoint: "jaeger:14250"

ports:
  web:
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          priority: 10
  websecure:
    http3:
      enabled: true
      advertisedPort: 443
    http:
      tls:
        enabled: true
  metrics:
    port: 8082
    expose:
      default: true

providers:
  kubernetesCRD:
    ingressClass: traefik-external
    allowExternalNameServices: true
    allowCrossNamespace: true
  kubernetesIngress:
    enabled: false

service:
  spec:
    loadBalancerIP: 192.168.1.245
    externalTrafficPolicy: Local

persistence:
  enabled: true
  existingClaim: traefik-data-pvc
