env:
  DB_HOSTNAME: immich-rw
  DB_USERNAME:
    valueFrom:
      secretKeyRef:
        name: immich-credentials
        key: DB_USERNAME
  DB_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: immich-credentials
        key: DB_PASSWORD
  DB_DATABASE_NAME: immich-db
  IMMICH_MACHINE_LEARNING_URL: "http://immich-machine-learning:3003"

image:
  tag: v2.2.2

immich:
  metrics:
    enabled: true
  persistence:
    library:
      existingClaim: immich-library-pvc

valkey:
  enabled: true
  persistence:
    data:
      type: persistentVolumeClaim
      existingClaim: immich-valkey-pvc
      storageClass: local-path-utils

server:
  serviceMonitor:
    main:
      labels:
        release: kube-prometheus-stack

machine-learning:
  persistence:
    cache:
      enabled: true
      type: persistentVolumeClaim
      size: 10Gi
      existingClaim: immich-ml-cache-pvc
      storageClass: local-path-utils
