controllers:
  main:
    containers:
      main:
        image:
          tag: v2.4.1
        env:
          DB_HOSTNAME:
            value: immich-rw
          DB_USERNAME:
            valueFrom:
              secretKeyRef:
                name: immich-credentials
                key: DB_USERNAME
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-credentials
                key: DB_PASSWORD
          DB_DATABASE_NAME:
            value: immich-db

immich:
  metrics:
    enabled: true
  persistence:
    library:
      existingClaim: immich-library-pvc

valkey:
  enabled: true
  persistence:
    data:
      type: persistentVolumeClaim
      existingClaim: immich-valkey-pvc
      storageClass: local-path-utils

server:
  serviceMonitor:
    main:
      labels:
        release: kube-prometheus-stack

machine-learning:
  persistence:
    cache:
      type: persistentVolumeClaim
      existingClaim: immich-ml-cache-pvc
      storageClass: local-path-utils
