apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infra

resources:
  - cert-manager-dashboard-cm.yaml
  - argocd-dashboard-cm.yaml
  - k8s-dashboard-cm.yaml
  - loki-dashboard-cm.yaml
  - scraparr-dashboard-cm.yaml
  - htpc-dashboard-cm.yaml

helmCharts:
  - name: kube-prometheus-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 80.4.2
    releaseName: kube-prometheus-stack
    namespace: infra
    valuesFile: values-kube-prometheus-stack.yaml
    includeCRDs: true

  - name: loki
    repo: https://grafana.github.io/helm-charts
    version: 6.49.0
    releaseName: loki
    namespace: infra
    includeCRDs: true
    valuesFile: values-loki.yaml

  - name: alloy
    repo: https://grafana.github.io/helm-charts
    version: 1.5.1
    releaseName: alloy
    namespace: infra
    includeCRDs: true
    valuesFile: values-alloy.yaml

  - name: jaeger
    repo: https://jaegertracing.github.io/helm-charts
    version: 4.1.5
    releaseName: jaeger
    namespace: infra
    includeCRDs: true
    valuesFile: values-jaeger.yaml
