---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: transmission
  name: transmission
spec:
  replicas: 1
  selector:
    matchLabels:
      run: transmission
  template:
    metadata:
      labels:
        run: transmission
    spec:
      securityContext:
        fsGroup: 1000
      initContainers:
        - name: fix-permissions
          image: busybox:1.37.0
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          command:
            [
              "sh",
              "-c",
              "mkdir -p /data/torrents /config /watch && chown -R 1000:1000 /data /config /watch && chmod -R a=,a+rX,u+w,g+w /data /config /watch",
            ]
          volumeMounts:
            - name: arr-stack-storage
              mountPath: /config
              subPath: transmission/config
            - name: arr-stack-storage
              mountPath: /data
              subPath: data
            - name: arr-stack-storage
              mountPath: /watch
              subPath: transmission/watch
      containers:
        - name: transmission
          image: linuxserver/transmission:4.1.1
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: "CET"
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: download-dir
              value: "/data/torrents"
          ports:
            - containerPort: 9091
              name: webui
              protocol: TCP
            - containerPort: 51413
              name: torrent-tcp
              protocol: TCP
            - containerPort: 51413
              name: torrent-udp
              protocol: UDP
          volumeMounts:
            - name: arr-stack-storage
              mountPath: /config
              subPath: transmission/config
            - name: arr-stack-storage
              mountPath: /data
              subPath: data
            - name: arr-stack-storage
              mountPath: /watch
              subPath: transmission/watch
          resources:
            requests:
              memory: "128Mi"
              cpu: "25m"
            limits:
              memory: "256Mi"
              cpu: "100m"
      volumes:
        - name: arr-stack-storage
          persistentVolumeClaim:
            claimName: htpc-pvc
